body {
    height: 600px;
    width: 600px;
    background: black;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    background: darkgreen;
}

input {
    border: 2px solid black;
    height: 50px;
    width: 53px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 1px 1px #FF0b00;
}

input[type="text"] {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 250px;
    height: 35px;
    font-size: 25px;
}

/*
input[name="btn0"] {
    width: 119px;
    font-size: 20px;
}*/
